
div{
    box-sizing: border-box;
}

.grid-container{
    display: grid;
    width: 100%;
    grid-gap: 15px;
}

.grid-content{
    width: 100%;
}

#container-header{
    grid-area: header;
}

#container-meme{
    grid-area: meme;
}

#container-navbar{
    grid-area: navbar;
}

img.meme{
    display: block;
    width: 100%;
    margin: auto;
}

a.meme-link, .single-meme{
    margin: auto;
    display: block
}

/* duże ekrany*/
@media screen and (min-width: 900px){
    #main-container{
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-areas: 
        'header header header'
        '. meme .'
        ;
    }

    a.meme-link, .single-meme{
        width: 75%;
    }
}

/* małe ekrany */
@media screen and (max-width: 900px){
    #main-container{
        grid-template-columns: 1fr;
        grid-template-areas: 
        'header'
        'meme'
        ;
    }
    a.meme-link, .single-meme{
        width: 100%;
    }
}

.meme-name{
    text-decoration: none;
    color: black;
    font-size: xx-large;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

a{
    text-decoration: none;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

ul.meme-list {
    list-style-type: none;
    padding: 0px;
}

ul.meme-list > li{
    padding: 30px 0px;
}

.back{
    background-color: #7070d0;
color: white;
height: 50px;
display: block;
margin: auto;
font-size: xx-large;
width: 300px;
border-radius: 5px;
border-style: none;
}

/*formularz */

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 15px;
  }
  
 .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
 .container {
    padding: 2px 16px;
  }


input, select {
    box-sizing: border-box;
    outline: none;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}

input[type="submit"]:hover{
    background-color:#b1edff;
}

label, form>p {
    display: inline-block;
    box-sizing: border-box;
    outline: none;
    padding: 5px;
    border: none;
    font: 16px Arial, Helvetica, sans-serif;
}